@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 243 30% 3%;
      --foreground: 243 22% 97%;
      --muted: 243 34% 15%;
      --muted-foreground: 243 5% 73%;
      --popover: 243 30% 3%;
      --popover-foreground: 243 22% 97%;
      --card: 243 30% 3%;
      --card-foreground: 243 22% 97%;
      --border: 243 5% 13%;
      --input: 243 5% 13%;
      --primary: 243 38% 44%;
      --primary-foreground: 0 0% 100%;
      --secondary: 243 8% 9%;
      --secondary-foreground: 243 8% 69%;
      --accent: 243 8% 9%;
      --accent-foreground: 243 8% 69%;
      --destructive: 18 92% 59%;
      --destructive-foreground: 0 0% 0%;
      --ring: 243 38% 44%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }